In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Train.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [8]:
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [9]:
df.Mode_of_Shipment.unique()

array(['Flight', 'Ship', 'Road'], dtype=object)

In [15]:
df.Prior_purchases.unique()

array([ 3,  2,  4,  6,  5,  7, 10,  8])

In [12]:
df.groupby('Mode_of_Shipment')['Mode_of_Shipment'].value_counts()

Mode_of_Shipment  Mode_of_Shipment
Flight            Flight              1777
Road              Road                1760
Ship              Ship                7462
Name: Mode_of_Shipment, dtype: int64

In [17]:
# df.groupby('Product_importance')[['Product_importance', 'Mode_of_Shipment']].value_counts()

ax = df[['Mode_of_Shipment','Product_importance']].plot(kind='bar', title ="V comp", figsize=(15, 10), legend=True, fontsize=12)
ax.set_xlabel("modo de envio", fontsize=12)
ax.set_ylabel("Importancia do produto", fontsize=12)
plt.show()

TypeError: no numeric data to plot